
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container aling-items-center">

<h1>LearningApp</h1>
<h3>Emmanuel Nuno Estrella</h3>
<app-encabezado></app-encabezado>
<app-menu-lateral></app-menu-lateral>
<app-pie-pagina></app-pie-pagina>
<app-contenido-principal></app-contenido-principal>
<app-avisos></app-avisos>
</div>
</body>
</html>
